report_json/files_already_in_main_sds.json
report_json/save_files_in_both_with_diff.json
report_json/2013/2013_files_in_both_with_diff.json
report_json/2013/2013_files_merged_failed.json
report_json/2013/2013_files_merged.json
report_json/2014/2014_files_in_both_with_diff.json
report_json/2014/2014_files_merged_failed.json
report_json/2014/2014_files_merged.json
utils/__pycache__/file_manager.cpython-38.pyc
utils/__pycache__/sdsfiller.cpython-38.pyc
filler_tools/report_json/files_already_in_main_sds.json
filler_tools/report_json/save_files_in_both_with_diff.json
filler_tools/report_json/2013/2013_files_in_both_with_diff.json
filler_tools/report_json/2013/2013_files_merged_failed.json
filler_tools/report_json/2013/2013_files_merged.json
filler_tools/report_json/2014/2014_files_in_both_with_diff.json
filler_tools/report_json/2014/2014_files_merged_failed.json
filler_tools/report_json/2014/2014_files_merged.json
data_tools/rename.conf
data/SDS_TEST/2021/Z2/HBAR/HHZ.D/Z2.HBAR.00.HHZ.D.2021.238
data/SDS_TEST/2021/Z2/HBAR/HHZ.D/Z2.HBAR.00.HHZ.D.2021.239
data/SDS_TEST/2021/Z2/HBAR/HHZ.D/Z2.HBAR.00.HHZ.D.2021.240
data/SDS_TEST/2021/Z2/HBAR/HHZ.D/Z2.HBAR.00.HHZ.D.2021.241
data/SDS_TEST/2021/Z2/HBAR/HHZ.D/Z2.HBAR.00.HHZ.D.2021.242
data/SDS_TEST/2021/Z2/HBAR/HHZ.D/Z2.HBAR.00.HHZ.D.2021.243
data/SDS_TEST/2021/Z2/HBAR/HHZ.D/Z2.HBAR.00.HHZ.D.2021.244
data/SDS_TEST/2021/AM/QUAT/HHZ.D/AM.QUAT.00.HHZ.D.2021.238
data/SDS_TEST/2021/AM/QUAT/HHZ.D/AM.QUAT.00.HHZ.D.2021.239
data/SDS_TEST/2021/AM/QUAT/HHZ.D/AM.QUAT.00.HHZ.D.2021.240
data/SDS_TEST/2021/AM/QUAT/HHZ.D/AM.QUAT.00.HHZ.D.2021.241
data/SDS_TEST/2021/AM/QUAT/HHZ.D/AM.QUAT.00.HHZ.D.2021.242
data/SDS_TEST/2021/AM/QUAT/HHZ.D/AM.QUAT.00.HHZ.D.2021.243
data/SDS_TEST/2021/AM/QUAT/HHZ.D/AM.QUAT.00.HHZ.D.2021.244
data/SDS_TEST/2021/AM/RATS/HH1.D/AM.RATS.00.HH1.D.2021.238
data/SDS_TEST/2021/AM/RATS/HH1.D/AM.RATS.00.HH1.D.2021.239
data/SDS_TEST/2021/AM/RATS/HH1.D/AM.RATS.00.HH1.D.2021.240
data/SDS_TEST/2021/AM/RATS/HH1.D/AM.RATS.00.HH1.D.2021.241
data/SDS_TEST/2021/AM/RATS/HH1.D/AM.RATS.00.HH1.D.2021.242
data/SDS_TEST/2021/AM/RATS/HH1.D/AM.RATS.00.HH1.D.2021.243
data/SDS_TEST/2021/AM/RATS/HH1.D/AM.RATS.00.HH1.D.2021.244
data/SDS_TEST/2021/AM/RATS/VKO.D/AM.RATS.01.VKO.D.2021.238
data/SDS_TEST/2021/AM/RATS/VKO.D/AM.RATS.01.VKO.D.2021.239
data/SDS_TEST/2021/AM/RATS/VKO.D/AM.RATS.01.VKO.D.2021.240
data/SDS_TEST/2021/AM/RATS/VKO.D/AM.RATS.01.VKO.D.2021.241
data/SDS_TEST/2021/AM/RATS/VKO.D/AM.RATS.01.VKO.D.2021.242
data/SDS_TEST/2021/RE/TREZ/HHZ.D/RE.TREZ.00.HHZ.D.2021.238
data/SDS_TEST/2021/RE/TREZ/HHZ.D/RE.TREZ.00.HHZ.D.2021.239
data/SDS_TEST/2021/RE/TREZ/HHZ.D/RE.TREZ.00.HHZ.D.2021.240
utils/__pycache__/file_manager.cpython-39.pyc
